body {
	background-color: #f8f8f8;
}

line {
	width: 100%;
	height: 1px;
	background-color: #c8c7cc;
	dock-align: top;
}

sv {
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}

sv dl {
	background-color: #ffffff;
}

sv vl {
	background-color: #ffffff;
}

sv hl {
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

vl {
	width: 100%;
	height: 100%;
}

hl {
	width: 100%;
	height: 100%;
}

dl {
	width: 100%;
	height: 100%;
}

dl hl {
	width: 100%;
	height: 100%;
	dock-align: top;
}

shl {
	width: 100%;
	height: 100%;
}

svl {
	width: 100%;
	height: 100%;
}

svl vl {
	height: 100%;
	width: 100%;
}

TextView {
	width: 100%;
	height: 100%;
	background-color: none;
	color: #000000;
}

EditText {
	width: 100%;
	height: 100%;
	background-color: none;
	color: #2d89cf;
}

Button {
	width: 100%;
	height: 100%;
	selected-color: #b2b2b7;
	color: #2d89cf;
}

WebMapGoogle{
	width: 100%;
	height: 100%;
}

MemoEdit {
	color: #2d89cf;
	background-color: #ffffff;
}


/*-------высокая сетка-------*/

.grid {
	height: 13.8mm;
	background-color: #ffffff;
	selected-color: #bacdce;
}

.grid img {
	height: 1.9mm;
	width: 1.3mm;
	margin-top: 16%;
	dock-align: right;
	margin-right: 2.4mm;
	background-image: url(arrow.png);
}

.grid vl {
	dock-align: left;
	padding-left: 2.4mm;
	padding-right: 2.4mm;
	padding-top: 11%;
}

.grid vl EditText {
	height: 40%;
	width: 90%;
	font: 45% Arial;
}

.grid vl dl {
	height: 21%;
	width: 100%;
}

.grid vl dl TextView {
	width: 100%;
	height: 100%;
	margin-top: 5%;
	white-space: normal;
	font: 68% Arial;
	color: #8e8e93;
	dock-align: left;
}

.grid vl dl Button {
	width: 13.5mm;
	height: 100%;
	dock-align: right;
	margin-left: -32%;
	margin-right: 3%;
	margin-top: 0%;
	border-style: solid;
	border-width: 1px;
	border-color: #43acfd;
	border-radius: 5px;
	color: #2d89cf;
	text-align: center;
	font: 65% arial;
}

.main_row {
	height: 40%;
	white-space: normal;
	placeholder-color: #2d89cf;
	color: #2d89cf;
	font: 42% Arial;
}

.description_row {
	height: 23%;
	white-space: normal;
	font: 62% Arial;
	color: #8e8e93;
}


/*-------низкая сетка------- */

.parameter_grid {
	height: 6.7mm;
	dock-align: top;
}

.parameter_grid TextView {
	width: 50% auto;
	height: 100%;
	padding-top: 30%;
	vertical-align: central;
	margin-left: 2.7mm;
	color: #2d89cf;
	dock-align: left;
	font: 36% arial;
}

.parameter_grid img {
	height: 1.9mm;
	width: 1.3mm;
	margin-top: 35%;
	margin-right: 2.4mm;
	background-image: url(arrow.png);
	dock-align: right;
}

.parameter_grid EditText {
	width: 50%;
	height: 100%;
	color: #2d89cf;
	padding-top: 30%;
	margin-left: 2.7mm;
	dock-align: left;
	font: 37% arial;
	placeholder-color: #2d89cf;
}

.value {
	width: 35%;
	height: 100%;
	white-space: nowrap;
	margin-right: 2.4mm;
	font: 28% Arial;
	color: #8e8e93;
	dock-align: right;
	text-align: right;
}


/*-------маркеры-------*/

.required_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(required_side_wh.png);
	dock-align: left;
	padding-right: 0mm;
}

.answered_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(answered_side_wh.png);
	dock-align: left;
	padding-right: 0mm;
}

/*-------отступ-------*/

.caption_grid {
	height: 6.7mm;
	selected-color: #bacdce;
	background-color: #efeff4;
	dock-align: top;
	padding-left: 2.4mm;
}

.caption_grid TextView {
	width: 25% auto;
	height: 50%;
	text-align: left;
	/*margin-left: 3.5%;*/
	margin-top: 50%;
	white-space: nowrap;
	font: 60% arial;
	color: #4d4d4d;
}

.margin {
	height: 3.3mm;
	background-color: #efeff4;
	dock-align: top;
}

/*-------кнопка внизу экрана-------*/

.bottom_btn {
	height: 6.7mm;
	dock-align: bottom;
	selected-color: #bacdce;
	background-color: #fff;
}

.bottom_btn hl TextView{
	text-align: center;
	padding-top: 25%;
	color: #2d89cf;
	font: 37% arial;
}

.bottom_btn hl .left{
	text-align: left;
	padding-left: 2.4mm;	
}

.bottom_btn hl .right{
	text-align: right;
	padding-right: 2.4mm;	
}

.bottom_btn .double TextView{
	width: 50%;
}

.bottom_btn .triple TextView{
	width: 33.33%;
}

.b_line {
	dock-align: bottom;
}


/*-------top navigator-------*/

.top_navigator {
	height: 6.7mm;
	dock-align: top;
	background-color: #ffffff;
}

.top_navigator dl {
	width: 16.3mm;
}

.btn_menu {
	width: 7mm;
	height: 100%;
	dock-align: left;
	margin-right: 0%;
	margin-left: 0%;
}

.btn_menu menuIcon {
	background-image: url(button_menu.png);
	height: 37%;
	margin-top: 30%;
	margin-left: 1mm;
	margin-bottom: 20%;
}

.btn_space{
	width: 7mm;
	dock-align: right;
}

.top_navigator hl {
	dock-align: top;
	horizontal-align: central;
}

.top_navigator hl TextView {
	margin-left: 0%;
	padding-top: 26%;
	horizontal-align: central;
	text-align: center;
	color: #000000;
	font: 39.5% arial;
	selected-color: #D3D3D3;
} 

.btn_back {
	width: 16.3mm;
	dock-align: left;
}

.btn_back TextView {
	margin-left: 1mm;
	padding-top: 26%;
	text-align: left;
	dock-align: left;
	color: #2d89cf;
	font: 39.5% arial;
}

.btn_back img {
	background-image: url(arrow_left.png);
	margin-top: 24%;
	margin-left: 1mm;
	dock-align: left;
	height: 50%;
}

.btn_forward {
	width: 16.3mm;
	dock-align: right;
}

.btn_forward TextView {
	margin-right: 1mm;
	padding-top: 26%;
	text-align: right;
	color: #2d89cf;
	font: 39.5% arial;
}
